- form_for [parent_object, <%= singular_name %>] do |f|
  / = raise parent_object.inspect
  = f.error_messages
  = render :partial => 'form_fields', :locals => {:f => f}
  %p
    = f.submit t(".save")
    = link_to t(".cancel"), :back, :class => "cancel"