%tr
  %td= <%= singular_name %>.inspect
  %td= link_to t('.link_to_show'), <%= singular_name %>
  %td= link_to t('.link_to_edit'), edit_<%= singular_name %>_path(<%= singular_name %>)
  %td= link_to t('link_to_destroy'), <%= singular_name %>, :confirm => 'Are you sure?', :method => :delete